.profile__name {
  font-weight: 500;
  color: #fff;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 879px) {
  .profile__name {
    font-size: 33px;
    line-height: 35px;
    text-align: center;
  }
}
@media screen and (max-width: 583px) {
  .profile__name {
    font-size: 27px;
    line-height: 30px;
    max-width: 189px;
  }
}