.close {
  background-image: url(../../images/close.svg);
  background-color: transparent;
  transition: opacity .4s ease;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-size: cover;
  border: 0;
  padding: 0;
}
.close:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 583px) {
  .close {
    right: 0;
    width: 20px;
    height: 20px;
  }
}