@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/all-content/all-content.css);

@import url(./blocks/cards/cards.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__block/card__block.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/card/__like-quantity/card__like-quantity.css);
@import url(./blocks/card/__like-container/card__like-container.css);

@import url(./blocks/content/content.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo-link/header__logo-link.css);
@import url(./blocks/header/__sign/header__sign.css);

@import url(./blocks/close/close.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__expansion-img/popup__expansion-img.css);
@import url(./blocks/popup/__expansion-title/popup__expansion-title.css);
@import url(./blocks/popup/__expansion-container/popup__expansion-container.css);
@import url(./blocks/popup/_expansion/popup_type_expansion.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__field/_error/popup__field_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(./blocks/popup/__submit/_delete/popup__submit_type_delete.css);
@import url(./blocks/popup/__status-icon/popup__status-icon.css);
@import url(./blocks/popup/__status-icon/_success/popup__status-icon_success.css);
@import url(./blocks/popup/__status-icon/_error/popup__status-icon_error.css);
@import url(./blocks/popup/__container/_status/popup__container_type_status.css);
@import url(./blocks/popup/__title/_status/popup__title_type_status.css);

@import url(./blocks/button-hover/button-hover.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-content/profile__add-content.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-edit-btn/profile__avatar-edit-btn.css);
@import url(./blocks/profile/__avatar-edit-btn-container/profile__avatar-edit-btn-container.css);

@import url(./blocks/sign-content/sign-content.css);
@import url(./blocks/sign-content/__title/sign-content__title.css);
@import url(./blocks/sign-content/__field/sign-content__field.css);
@import url(./blocks/sign-content/__submit/sign-content__submit.css);
@import url(./blocks/sign-content/__form/sign-content__form.css);
@import url(./blocks/sign-content/__sign-in/sign-content__sign-in.css);
@import url(./blocks/sign-content/__link-sign-in/sign-content__link-sign-in.css);