.sign-content__field {
  border: 0;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  padding: 0 0 13px 0;
  outline: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
}
.sign-content__field::placeholder {
  color: #ccc;
}
@media screen and (max-width: 360px) {
  .sign-content__field {
    width: 260px;
  }
}